
/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#contact form {
    max-width: 300px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

.profile-image {
    width: 100px; /* or the size you want */
    height: auto; /* to maintain aspect ratio */
    border-radius: 50%; /* if you want it round */
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px; /* adjust as needed */
  }
