
/* Basic reset for styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
}

#contact form {
    max-width: 300px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

.profile-image {
    width: 50px; /* Adjust to make the image smaller */
    height: 50px; /* Adjust to make the image smaller */
    border-radius: 50%; /* Makes the image round */
    position: absolute;
    top: 10px; /* Space from the top of the header */
    right: 10px; /* Space from the right of the header */
    z-index: 10; /* Ensure it is above other elements */
}
